.formInput{
    display: flex;
    flex-direction: column;
    width: 280px;
}

input{
    padding: 5px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}

label{
    font-size: 15px;
}

span{
    font-size: 13px;
    color: red;
    padding: 3px;
    display: none;
}

input:invalid[focused="true"]{
    border: 1px solid red;
}


input:invalid[focused="true"] ~ span{
    display: block;
}